Source: qprotractor
Section: graphics
Priority: extra
Maintainer: Alexey Guseynov <kibergus@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), qt4-qmake, libqt4-dev, libboost-dev
Standards-Version: 3.9.1
Homepage: http://kibergus.su/qprotractor

Package: qprotractor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Screen protractor.
 Tool for measuring angles on screen.
